body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.name::before {
    content: "Name: ";
}

.total::before {
    content: "Total: ";
}

.time, .total {
    float: right;
}

.start, .stop, .pause, .resume {
    display: none;

    float: left;
    clear: right;

    width: 100px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;

    text-align: center;
    background-color: #e1e1e1;
}

#timers {
    list-style: none;
}

#timers li {
    width: 100%;
    height: 80px;

    padding-top: 6px;
    padding-bottom: 6px;

    border-top: 1px solid black;
}

#timers li.initial .start,
#timers li.running .stop,
#timers li.running .pause,
#timers li.paused .resume {
    display: block;
}
