{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Hello, {{ user.email }}</h1>
            <a href="{{ url('logout') }}">logout</a>
        </div>

        <div class="col-lg-3">
            <div id="create-timer">
                <h2>Create new Timer</h2>
                <input name="name" type="text" class="form-control" placeholder="Timer Name" />
                <button class="btn btn-default">Create</button>
            </div>
        </div>

        <div class="col-lg-9">
            <div id="timers"></div>
        </div>
    </div>
{% endblock %}


{% block inline %}
    <script src="/js/underscore-min.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/timer.js"></script>
{% endblock %}